// @import "components/booking"

.contenaire {
  display: flex;
  justify-content: space-around;
}

h1 {
  margin: 20px;
}

.avatar-square {
  width: 120px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: grey 1px solid;
}

.informations {
  margin:  32px;
  padding: 24px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 4px;
  border-radius: 5px;
  border: 1px solid rgb(230,230,230);
}

#booking {
  margin:  32px;
  padding: 24px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 4px;
  border: 1px solid rgb(230,230,230);
  width: 30%;
  border-radius: 8px;
}

.host-informations {
  display: inline-flex;
  align-items: center;
  width: 60%;
  display: flexbox;
}

#host-name {
  margin-left: 20px;
  font-size: 22px;
  font-weight: bold;
}

#map {
  margin: 32px;
  height: 70vh;
  border-radius: 14px;
}
