<div class="banner">
  <div class="container">
    <h1>ESO Parking</h1>
    <p><span data-controller="typed-js"></span></p>
    <p class="button">
     Browse Parkings in your area
    </p>
   <p class="button">
     Log-in
  </p>
  </div>
</div>

<div class = "how-it-works">
    <h2 class = "text-center">How it works</h2>
    <div class = "container-cards">
      <div class = "card">
        <img id ="apply" src="eso-parking.png">
        <h3>Sign-in</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class = "card">
        <img id ="learn" src="eso-parking.png">
        <h3>Land a Parking space</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class = "card">
        <img id ="product" src="eso-parking.png">
        <h3>browse parking space</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>

 <footer>
    <ul class = "list_inline">
      <li><a class="social_icon" href="https://arthur-littm.github.io/startup-landing/#"target="_blank"><i class="fa-brands fa-square-github"></i></a></li>
      <li><a class="social_icon" href="https://arthur-littm.github.io/startup-landing/#"target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a class="social_icon" href="https://arthur-littm.github.io/startup-landing/#"target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a class="social_icon" href="https://arthur-littm.github.io/startup-landing/#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
    <h2>Feel free to contact us ❤️</h2>
  </footer>
