<div class="banner">
    <div class = "title">
      <h1>ESO Parking</h1>
      <p><span data-controller="typed-js"></span>Solve your parking problems forever!</p>
    </div>
    <div class ="container_buttons">
      <p class="button">
       Browse Parkings in your area
      </p>
      <p class="button">
      Log-in
      </p>
  </div>
</div>

<div class = "how-it-works">
    <h2 class = "text-center">How it works</h2>
    <div class = "container-cards">
      <div class = "card">
        <%= image_tag "profile.png"%>
        <h3>Sign-in</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class = "card">
      <%= image_tag "land.png"%>
        <h3>Land a Parking space</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class = "card">
        <%= image_tag "browse.png" %>
        <h3>browse parking space</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
