<h1>profile</h1>

<div class ="dashcontainer">

  <div class ="user-info">
    <p>profile</p>
  </div>

  <div class ="bookings">
    <p>bookings</p>
  </div>

  <div class ="parkings">
  <p>parkings</p>
  </div>

</div>
