.navbar-lewagon {
  justify-content: space-between;
  background: rgba(33, 31, 28, 0.974);
  position: fixed;
  z-index: 10;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  height: 50px;
  width: 150px;
}

.nav-link {
  color: rgb(224, 215, 195);
}

#navbarDropdown{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
